<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片列表</title>
</head>
<body>
<div>
    <form name="upload" action="/upload" enctype="multipart/form-data" method="post">
        <div>
            <input type="file" name="file">
        </div>
        <input type="submit" value="上传" >
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>imgName</th>
                <th>imgUrl</th>
                <th>imgType</th>
            </tr>
        </thead>
        <tbody>
            #foreach($item in $list)
            <tr>
                <td><a href="http://static.jwl.com/${item.id}.jpg" target="_blank">$item.id</a></td>
                <td>$item.imgName</td>
                <td><a href="http://static.jwl.com$item.imgUrl" target="_blank">$item.imgUrl</a></td>
                <td>$item.imgType</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
</body>
</html>